{% extends "base.html" %}

{% block body %}


<!-- Header row START -->
<div class="w-full flex flex-row justify-center md:justify-start mb-4">
    <h1 class="text-2xl font-bold">Cluster</h1>
</div>
<!-- Header row END -->


<!-- Nodes list START -->
<div class="w-full mb-4">
    <h2 class="text-xl font-bold border-b border-slate-200">Nodes</h2>

    <div class="w-full grid grid-cols-1 xl:grid-cols-2 gap-4 py-4">
        {% for n in nodes %}
        <div class="shadow-md rounded-md bg-slate-50">
            <div class="flex flex-row items-center mx-4 pt-2 pb-1 border-b border-slate-200">
                <h3 class="inline-block mr-2 text-lg font-bold overflow-hidden overflow-ellipsis whitespace-nowrap">
                    {{ n.hostname }}
                </h3>
                <div class="shrink-0 w-4 h-4 ml-auto rounded-full drop-shadow-md
                            {% if n.is_ready %}bg-green-400{% else %}bg-red-400{% endif %}"></div>
            </div>
            <div class="text-sm whitespace-nowrap mx-4 py-2">
                <span class="block overflow-hidden overflow-ellipsis">
                    <span class="inline-block w-16">ID:</span>
                    {{ n.identifier }}
                </span>
                <span class="block">
                    <span class="inline-block w-16">Status:</span>
                    {{ n.get_status_display }}
                </span>
                <span class="block">
                    <span class="inline-block w-16">Agent:</span>
                    {{ n.get_agent_status_display }}
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Nodes list END -->


<!-- Services list START -->
<div class="w-full mb-4">
    <h2 class="text-xl font-bold border-b border-slate-200">Services</h2>

    <div class="w-full grid grid-cols-1 xl:grid-cols-2 gap-4 py-4">
        {% for s in services %}
        <div class="shadow-md rounded-md bg-slate-50">
            <div class="flex flex-row items-center mx-4 pt-2 pb-1 border-b border-slate-200">
                <h3 class="inline-block mr-2 text-lg font-bold overflow-hidden overflow-ellipsis whitespace-nowrap">
                    {{ s.name }}
                </h3>
                <div class="shrink-0 w-4 h-4 ml-auto rounded-full drop-shadow-md
                            {% with status=s.task_status %}
                            {% if status == 'RUNNING' %}bg-green-400
                            {% elif status == 'PARTIAL' %}bg-yellow-400
                            {% else %}bg-red-400{% endif %}
                            {% endwith %}"></div>
            </div>
            <div class="text-sm whitespace-nowrap mx-4 py-2">
                <span class="block overflow-hidden overflow-ellipsis">
                    <span class="inline-block w-16">ID:</span>
                    {{ s.identifier }}
                </span>
                <span class="block overflow-hidden overflow-ellipsis">
                    <span class="inline-block w-16">Tasks:</span>
                    {{ s.get_task_status_display }}
                </span>
                <span class="block overflow-hidden overflow-ellipsis">
                    <span class="inline-block w-16">Backup:</span>
                    {{ s.get_backup_status_display }}
                </span>
                <span class="block">
                    <a href="{% url 'cluster:service' s.identifier %}" class="btn w-full ml-auto my-2">Details</a>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Services list END -->


{% endblock%}
