# SSH hardening.
ChallengeResponseAuthentication no
PubkeyAuthentication yes
PasswordAuthentication no
AuthenticationMethods publickey
PermitRootLogin no
PermitEmptyPasswords no
AllowUsers restic

# Don't allow tunneling.
PermitTunnel no
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no

# Only allow SFTP to the user's home directory.
ChrootDirectory /home/
ForceCommand internal-sftp -d %u
